.uiwpayIcon {
  width: 41px;
  height: 41px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.uiwpayWrapper {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.heading3 {
  height: 79px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 123px;
  z-index: 1;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--wwwdrugrehabcom-open-sans-regular-20-size);
  color: var(--dark-blue-design);
  font-family: var(--wwwdrugrehabcom-open-sans-regular-14-upper);
}
@media screen and (max-width: 450px) {
  .heading3 {
    font-size: var(--wwwdrugrehabcom-open-sans-regular-16-size);
  }
}
