.frameChild,
.heading3 {
  position: relative;
  max-width: 100%;
}
.frameChild {
  height: 797px;
  width: 1451px;
  background-color: var(--color-gold);
  box-shadow: 0 20px 70px rgba(230, 246, 254, 0.3);
  display: none;
}
.heading3 {
  margin: 0;
  width: 502px;
  height: 79px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.loremIpsumDolor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 155%;
  z-index: 1;
}
.heading3TreatingTheUnderParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.heading31,
.toggleButtons {
  align-self: stretch;
  display: flex;
}
.toggleButtons {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.heading31 {
  height: 79px;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.heading3TreatingTheUnderWrapper {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.frameGroup {
  width: 459px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.heading32 {
  height: 79px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 1;
}
.heading3TreatingTheUnderGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent,
.stepperControl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 498px;
  align-items: flex-start;
  gap: var(--gap-41xl);
  font-size: var(--wwwdrugrehabcom-open-sans-regular-20-size);
}
.stepperControl {
  width: 585px;
  align-items: flex-end;
  gap: var(--gap-30xl);
  min-width: 585px;
}
.image37Icon {
  height: 585px;
  width: 362px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.rectangleParent {
  margin-left: -5px;
  margin-bottom: 18px;
  align-self: stretch;
  background-color: var(--color-gold);
  box-shadow: 0 20px 70px rgba(230, 246, 254, 0.3);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-91xl) var(--padding-87xl) var(--padding-83xl);
  box-sizing: border-box;
  gap: var(--gap-229xl);
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--dark-blue-design);
  font-family: var(--wwwdrugrehabcom-open-sans-regular-14-upper);
}
@media screen and (max-width: 1350px) {
  .heading3TreatingTheUnderParent,
  .image37Icon,
  .stepperControl {
    flex: 1;
  }
  .rectangleParent {
    flex-wrap: wrap;
    gap: 248px 124px;
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .stepperControl {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .heading3 {
    font-size: var(--font-size-13xl);
  }
  .heading3TreatingTheUnderParent {
    gap: 16px 33px;
  }
  .frameParent {
    gap: 30px 60px;
  }
  .stepperControl {
    gap: 24px 49px;
  }
  .rectangleParent {
    gap: 248px 62px;
    padding: var(--padding-52xl) var(--padding-7xl) var(--padding-47xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading3 {
    font-size: var(--font-size-5xl);
  }
  .heading31 {
    font-size: var(--wwwdrugrehabcom-open-sans-regular-16-size);
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .heading32 {
    font-size: var(--wwwdrugrehabcom-open-sans-regular-16-size);
  }
  .heading3TreatingTheUnderGroup {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: 248px 31px;
    padding-top: var(--padding-27xl);
    padding-bottom: var(--padding-24xl);
    box-sizing: border-box;
  }
}
